<section class="sidebar-tab sidebar-directory flexcol">
    <header class="directory-header"></header>
    <ol class="directory-list">
    {{#each effects as |effect id|}}
    <li class="directory-item entity flexrow special-effects" data-effect-id="{{id}}">
      <img class="profile" src="{{effect.icon}}" />
      <h4>
        <a>
          {{effect.label}}
        </a>
      </h4>
    </li>
    {{/each}}
  </ol>
  <footer class="directory-footer flexrow"></footer>
</section>
